@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
.wallpaper{
    background: center/cover no-repeat url("/Images/wallpaper.png");
    height: 450px;
    width: auto;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 14px 15px 94px ;
}
.btn{
    margin: 7px;
}
h1{
    font-size: 100px;
}
h3{
    color: rgb(29, 34, 112);
    font-weight: bold;
}
.heading{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    display: block;
    text-align: center;
}
.search{
        text-align: center;
        font-weight: bold;
        font-style: italic;
}
.meal{
    height: 400px;
}

.day{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 192px;
    width: auto;
}
.night{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 192px;
    width: auto;
}

