*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
}
h1{
    position: absolute;
    top: 110px;
    left:500px;
    font-size: 100px;
    color: aliceblue;
    font-style: italic;
}
h2{
    color: aliceblue;
    line-height: 500px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
}
.backg{
   background: linear-gradient(rgba(157,14,14,0), #4f0707),url(./wallpaper.png);
   background-size: 1600px;

}
.log{
    position: absolute;
    top: 50px;
    left: 1050px;
}
.btn:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
}
.btn{
    color: aliceblue;
    background-color: transparent;
    height: 50px;
    width: 120px;
    cursor: pointer;
    padding: none;
    border:2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    font-size: 20px;
}
.nav{
    position: absolute;
    top: 300px;
    left: 280px;
}
.qs{
    position: relative;
    top: 50px;
    left: 50px;
}
img{
    height: 100px;
    width: 120px;
}
.breakfast{
    display: inline-block;
    height: 100px;
    width: 350px;
    border: 2px outset rgb(211, 205, 205);
    position: relative;
    top: 70px;
    left: 50px;
}
.Lunch{
    display: inline-block;
    height: 100px;
    width: 350px;
    border: 2px outset rgb(211, 205, 205);
    position: relative;
    top: 70px;
    left: 130px;
}
.snacks{
    display: inline-block;
    height: 100px;
    width: 350px;
    border: 2px outset rgb(211, 205, 205);
    position: relative;
    top: 70px;
    left: 200px;
}
.dinner{
    display: inline-block;
    height: 100px;
    width: 350px;
    border: 2px outset rgb(211, 205, 205);
    position: relative;
    top: 100px;
    left: 50px;
}
.drinks{
    display: inline-block;
    height: 100px;
    width: 350px;
    border: 2px outset rgb(211, 205, 205);
    position: relative;
    top: 100px;
    left: 130px;
}
.nightlife{
    display: inline-block;
    height: 100px;
    width: 350px;
    border: 2px outset rgb(211, 205, 205);
    position: relative;
    top: 100px;
    left: 200px;
}
a{
    position: absolute;
    top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 80, 126);
    font-weight: bold;
}
.innerpara{
    position:absolute;
    top: 50px;
    left:120px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(163, 158, 158);
}

